@font-face {
  font-family: "iconfont"; /* Project id 4348575 */
  src: url('iconfont.woff2?t=1701096208202') format('woff2'),
       url('iconfont.woff?t=1701096208202') format('woff'),
       url('iconfont.ttf?t=1701096208202') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyirili:before {
  content: "\e714";
}

.icon-liebiao:before {
  content: "\e600";
}

.icon-paixing:before {
  content: "\e66e";
}

.icon-music_radio_portable:before {
  content: "\e61c";
}

.icon-zanting:before {
  content: "\e61e";
}

.icon-shiwu-maikefeng:before {
  content: "\e753";
}

.icon-fuwuzhibo_huaban:before {
  content: "\e61f";
}

.icon-icon-test:before {
  content: "\e658";
}

.icon-shequ:before {
  content: "\e623";
}

.icon-saoyisao:before {
  content: "\e8b5";
}

.icon-sousuo:before {
  content: "\e8b9";
}

.icon-wodeguanzhu:before {
  content: "\e8bc";
}

.icon-gedan:before {
  content: "\e61b";
}

.icon-wodeguanzhu1:before {
  content: "\e631";
}

.icon-ziyuan5:before {
  content: "\e659";
}

.icon-paihangbanggequ:before {
  content: "\e6bd";
}

.icon-yinle:before {
  content: "\e89f";
}

.icon-wangyiyunyinyueclick:before {
  content: "\e601";
}

.icon-xuqiujuece-01:before {
  content: "\e61d";
}

.icon-a-Property1wangyiyunyinle:before {
  content: "\e640";
}

.icon-a-Broadcast_fillon:before {
  content: "\e625";
}

